<h1>Host <%= @host %></h1>

<form style="margin:0px;float:center;" id="hostm" name="hostm" method="post" action="/resque/telework_mod_host/<%= @host %>" >
<table>
	<tr><th>Parameter</th><th>Value</th><th>Description</th>
	<tr><td>Hostname</td><td><%= @host %></td><td></td></tr>
    <tr><td>Alias</td><td><% a= redis.aliases(@host) %><input id="alias" name="alias" size=60 type="text" value="<%= a==@host || a.blank? ? "" : "#{a}" %>" /></td><td>Alias used in telework</td></tr>
    <tr><td>Comment</td><td><input id="comment" name="comment" size=60 type="text" value="<%= redis.comments(@host) %>" /></td><td>User-defined comment</td></tr>    
</table>
<input type="submit" value= "Save" />
</form>
<br/>
<h1>Delete Host <%= @host %></h1>
This will delete all the entries for the host - use with caution!
<form style="margin:0px;float:center;" id="delm" name="delm" method="post" action="/resque/telework_del_host/<%= @host %>" >
<br/><input type="submit" value="Delete" />
<form>
