<% @subtabs= my_substabs %>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $jq1110 = jQuery.noConflict();
</script>

<script src="/resque/telework/public/jquery.peity.min.js"></script>
<script>
$jq1110(function() {
  $jq1110(".line").peity("line")
  $jq1110(".bar").peity("bar")
})
</script>

<% stats= redis.stats %>
	<% succ= {} %>
	<% fail= {} %>
    <% intervals= [600, 3600, 24*3600] %>
    <% tnow= Time.now %>    
    <% for int in intervals %>
      <% succ[int]= {} %>
      <% fail[int]= {} %>      
      <% for q in stats.each_key %>
        <% succ[int][q]= {} %>
        <% fail[int][q]= {} %>
        <% for h in stats[q].each_key %>
          <% succ[int][q][h]= [] %>
          <% fail[int][q][h]= [] %>
          <% for t in stats[q][:all]["started"].each_key %>
            <% next if t==:all %>
            <% redis.inc_or_set( succ[int][q][h], (Time.now.to_i-t)/int, stats[q][:all]["started"][t] ) %>
          <% end %>
        <% end %>    
    <% end %>
  <% end %>



<h1>Stats</h1>
<table>
	<tr>
		<th>Queue</th>
		<th>Total processed (last hour)</th>
		<th>Total processes (last day)</th>
		<th>Action</th>
	</tr>
      <% for q in stats.each_key %>
    <tr>
	    <td><%= q %></td>
	    <td>
	    	<% int= 3600 %>
	    	<%= succ[int][q][:all][0].to_i==0 ? "None" : "#{succ[3600][q][:all][0]} (%.0f%% failed)" % (100*fail[int][q][:all][0].to_i/succ[int][q][:all][0].to_i) %> 
	        <span class="bar"><%= succ[600][q][:all][0..6].map{ |v| v.to_i } * "," %></span>
	     </td>
	    <td>
            <% int= 24*3600 %>
	    	<%= succ[int][q][:all][0].to_i==0 ? "None" : "#{succ[3600][q][:all][0]} (%.0f%% failed)" % (100*fail[int][q][:all][0].to_i/succ[int][q][:all][0].to_i) %> 
	        <span class="bar"><%= succ[3600][q][:all][0..24].map{ |v| v.to_i } * "," %></span></td>
	    <td>
           <form style="margin:0px;float:center;" id="stats" name="stats" method="get" action="/resque/telework/Overview" ><input type="submit" value= "Graph it" /></form>
	    </td>
	</tr>
    <% end %>
</table>
<br>

