<% object= @daemon ? "#{@host} daemon" :  "worker #{@worker}" %>

<% if @kill %>
<h1>Killing <%= object %></h1>
<% else %>
<h1>Stopping <%= object %></h1>
<% end %>
<br>

<% if @host %>
A command to <%= @kill ? "kill" : "stop" %> <%= object %> has been send to host <%= @host%>
<% else %>
Worker not found
<% end %>

<% if @host %>
  <% unless @kill %>
<br><br><% id= @worker %>

If that doesn't work, you may just kill it<br>
<% unless @daemon %>
<form id="kill<%=id%>" name="kill<%=id%>" method="post" action="/resque/telework_killit/<%=id%>" ><input type="submit" value= <%="\"Kill #{id}\"" %> >
</form>
<% else %>
<form id="kill" name="kill" method="post" action="/resque/telework_killitd/<%=@host%>" ><input type="submit" value= <%="\"Kill\"" %> >
</form>
<% end %>

  <% end %>
<% end %>

<br><br>
<a href="/resque/telework">Return to main Telework page</a>


