<h1>Task <%= @task_id %></h1>

<% task= redis.tasks_by_id( @host, @task_id) %>

<form style="margin:0px;float:center;" id="taskm" name="taskm" method="post" action="/resque/telework_mod_task/<%= @task_id %>" >
<table>
	<tr><th>Parameter</th><th>Value</th><th>Description</th>
	<tr><td>Mode</td><td><%= "#{task['mode']}" %></td><td>Current task mode</td>
    <tr><td>Environment</td><td><%= "#{task['rails_env']}" %></td><td>Rails environment</td>
    <tr><td>Queues</td><td><%= "#{task['queue']}" %></td><td>Queues</td>    	
    <tr><td>Count</td><td><%= "#{task['worker_count']}" %></td><td>Max number of workers</td>   	
	<tr><td>Exec</td><td><input id="exec" name="exec" size=60 type="text" value="<%= "#{task['exec']}" %>" /></td><td>Command to be executed to start a worker</td>
	<tr><td>Log period</td><td><input id="log_snapshot_period" name="log_snapshot_period" type="number" value="<%= "#{task['log_snapshot_period']}" %>" /></td><td>Period in second between two worker log capture</td>
	<tr><td>Log lines</td><td><input id="log_snapshot_lines" name="log_snapshot_lines" type="number" value="<%= "#{task['log_snapshot_lines']}" %>" /></td><td>Number of lines captured at the end of the worker log</td>
	<tr><td>Auto delay</td><td><input id="auto_delay" name="auto_delay" type="number" value="<%= "#{task['auto_delay']}" %>" /></td><td>Reaction time in second for the auto mode</td>
	<tr><td>Job per worker</td><td><input id="auto_max_waiting_job_per_worker" name="auto_max_waiting_job_per_worker" type="number" value="<%= "#{task['auto_max_waiting_job_per_worker']}" %>" /></td><td>Max number of waiting job for earch worker in auto mode</td>
	<tr><td>Min worker</td><td><input id="auto_worker_min" name="auto_worker_min" type="number" value="<%= "#{task['auto_worker_min']}" %>" /></td><td>Min number of worker in auto mode</td>		
</table>
<input type="submit" value= "Save" />
</form>