<% @subtabs= ["Overview", "Status", "Misc"] %>

<script language="javascript" type="text/javascript">
function hostlist(index) {
  document.startform.rev_filter.options.length = 0;
  switch(index) {
	<% for host in redis.hosts %>
	  <%= "case'#{host}':" %>
	  <% i= 0 %>
	  <% for rev in redis.revisions(host) %>
	    <%= "document.startform.rev_filter.options[#{i}]= new Option('#{rev['revision_small']} from #{redis.fmt_date(rev['revision_date'])}', '#{rev['revision']}' );" %>
	  <% i+= 1 %>
	  <% end %> break;
	<% end %>
  };
  return true;
};
function queuelist(index) {
	if(index != "(other)") {
		document.startform.queue_text.value= "";		
	}
	return true;
};
function queuetext(val) {
	if(val!="") {
		document.startform.queue_filter.selectedIndex= 0;
	}
};
$(document).ready(function() {
	document.startform.queue_filter.selectedIndex= 1;
	hostlist($('#host_filter').val());
	queuelist($('#queue_filter').val());
});
</script>

<h1>Hosts, Revisions and Worker Overview</h1>
<table>
    <tr>
      <th>Host</th>
      <th>Manager Status</th>
      <th>Revisions</th>
      <th>Workers</th>
    </tr>
    <% for host, status in redis.workers_state %>
      <tr>
      <td><%= host%></td>
      <td><%= status%></td>
      <td><%= redis.revisions(host).length %> revision(s) installed
      <% for rev in redis.revisions(host) %>
      <br>&nbsp;&nbsp;&nbsp;Revision <a href= <%= "/resque/telework/revision/#{rev['revision']}" %> ><%= "#{rev['revision_small']}" %></a>
          <%= "(dated #{redis.fmt_date(rev['revision_date'])} from #{rev['revision_branch']})" %>
      <%end%></td>
      <td><%= redis.workers(host).length%> worker(s) currently running
	  <% for id, info in redis.workers(host) %>
	  <br><form id="stop<%=id%>" name="stop<%=id%>" method="post" action="/resque/telework_stopit/<%=id%>" ><input type="submit" value= <%="\"Stop #{id}\""%> /></form>
	    &nbsp;&nbsp;&nbsp;<%= "Manager #{id} for #{info['environment']['COUNT']} workers on queue(s) '#{info['environment']['QUEUE']}', running revision" %>
   <a href= <%= "/resque/telework/revision/#{info['revision_info']['revision']}" %> ><%= "#{info['revision_info']['revision_small']}" %></a>
	  <%end%></td>
      </tr>
    <% end %>
</table>


<br><br>
<h1>Starting Workers</h1>
<br>

<div class="clearfix">
  <div class="control_panel sub_header">
    <form id="startform" name="startform" method="post" action="/resque/telework_do_start" >
      <span class="host_filter">
        Host: <%= generic_filter("host_filter", "h", redis.hosts, 
                                 "onchange=\"javascript: hostlist(this.options[this.selectedIndex].value);\"") %>
      </span>
      <span class="queue_filter">
        Queue: <%= generic_filter("queue_filter", "q", ["(other)"] + Resque.redis.smembers('queues') << "*",
                                  "onchange=\"javascript: queuelist(this.options[this.selectedIndex].value);\"") %>
        Queue: <input id="queue_text" type="text" name="qmanual" onkeyup="javascript: queuetext(this.value);" />
      </span>
      <span class="count_filter">
        Count: <%= generic_filter("count_filter", "c", ['1'] ) %>
      </span>
      <span class="rev_filter">
	    Revision: <select id="rev_filter" name="r">
		</select>
	  </span>
	  <span class="env_filter">
	    Environment: <%= generic_filter("env_filter", "e", ['(default)', 'production', 'staging', 'development', 'test'] ) %>
		</select>
	  </span>
      <input type="submit" value="Start" />
    </form>
  </div>
</div>


<br><br><br><br>
<% if @status_messages %>
<h1>Status Messages</h1>
<br>
<table>
    <tr>
      <th>Host</th>
      <th>Severity</th>
      <th>Date</th>
      <th>Message</th>
    </tr>
    <% for info in redis.statuses(@status_messages) %>
    <% c= info['severity']=='Error' ? "bgcolor=\"#ff0000\"" : "" %>
      <tr>
	    <td <%= c %>><%= info['host'] %></td>
	    <td <%= c %>><%= info['severity'] %></td>
	    <td <%= c %>><%= redis.fmt_date(info['date']) %></td>
	    <td <%= c %>><%= info['message'] %></td>
	  </tr>
   <% end %>
</table>

<%end%>



</div>
