<h1>Worker <%= @worker%></h1>

<% worker= redis.workers_by_id(@host, @worker) %>
<% if worker %>

Running on host <%= @host %>
<br><br>
Link: <% l= "#{@host}:#{worker['pid']}" %><%= "<a href=\"/resque/workers/#{l}:#{worker['environment']['QUEUE']}\">#{l}</a>" %>
<br><br>
TODO: better formatting for table below!
<table>
	<% for k in worker.keys %>
	<tr><th width="30"><%= k %></th><td width="600"><%= worker[k] %></td></tr>
	<% end %>
</table>

<br>

<h1>Logs</h1>
<% log= redis.logs_by_id(@host, @worker) %>
<br>
<% if log %>
<%= "Logs as of #{redis.fmt_date(log['date'])}"%>

<table>
<tr><th width="30">STDERR</th><td width="600"><%= redis.text_to_html(log['log_stderr']) %></td></tr>
<tr><th width="30">STDOUT</th><td width="600"><%= redis.text_to_html(log['log_stdout']) %></td></tr>
</table>


<% else %>
Logs are not available
<% end %>


<% else %>
Worker not found
<% end %>